body{
    font-family: 'Noto Sans', sans-serif; 
}
h1{ 
    font-size: 50px;
    
}
h2{
    font-size: 40px;
}
.orange-color {
    color: orange;
} 
section{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width:50% ; 
    padding-left:15%;       
}
.half-width img{
    width:50%;
}
.link-button{
    text-decoration: none;    
    background-image: linear-gradient(orange, tomato);
    padding: 18px 30px ;
    color:white ;
    font-weight:700 ;
    border-radius: 50px;}

.about-me{
    background-image: url(images/Frame\ 57.jpg);
    background-repeat: no-repeat;
}
